---
import { navigationLinks } from "@config/navigation";
import NavLink from "@/components/nav/NavLink.astro";
---

<ul class="footer-nav-list">
  {
    navigationLinks.map((navItem, index) => (
      <li>
        <NavLink
          class="footer-link-spacing"
          navItem={navItem}
          variant="footer"
          isLast={index === navigationLinks.length - 1}
        />
      </li>
    ))
  }
</ul>
