---
import { getContactData } from "@config/contact";

const contactData = await getContactData();
---

<p class="text-primaryMuted py-2">
  <a class="text-foreground hover:text-foreground/80" href={`mailto:${contactData.email}`}>
    {contactData.email}
  </a>
</p>
