---
import { themeConfig } from "@config/site";
const { author, startYear } = themeConfig.site;

const currentYear = new Date().getFullYear();
const year = Number(startYear) === currentYear ? startYear : `${startYear}-${currentYear}`;
---

<p class="text-primary py-2">
  © {year}
  {author}
</p>
