---
import Button from '@/components/button/Button.astro';
---

<div class="flex flex-col items-start gap-6 pb-10 md:(gap-9 pb-0)">
    <p class="heading-3 max-w-76 md:max-w-full">
        Envie de couleur dans votre quotidien ? <br />rejoignez ma palette de
        nouvelles !
    </p>
    <Button variant="primary" size="sm">Prenons contact</Button>
</div>
